[submodule "themes/doks"]
	path = themes/doks
	url = https://github.com/thuliteio/doks.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/hugo-next/hugo-theme-next.git
[submodule "themes/dokura"]
	path = themes/dokura
	url = https://github.com/docura/docura.git
[submodule "themes/docura"]
	path = themes/docura
	url = https://github.com/docura/docura.git
